@model IEnumerable<ProFit.Models.pro_fitdb.training_program>

@{
    ViewBag.Title = "YogaOrtaSeviyesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fh5co-parallax" style="background-image: url(../Content/images/antreman.jpg);  " data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                @foreach(var item in Model) {
                <div class="fh5co-intro fh5co-table-cell animate-box">
                    <h1 class="text-center">@item.category_NAME </h1>

                </div>
                }
            </div>
        </div>
    </div>
</div><!-- end: fh5co-parallax -->
<div id="fh5co-blog-section">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                @foreach (var item in Model)
                {
                    <div class="col-md-12">
                        <div class="heading-section animate-box">
                            <h2>@item.category_NAME </h2>
                        </div>
                    </div>
                }
                <div class="col-md-12 col-md-offset-0">
                    @foreach (var item in Model)
                    {
                        <div class="fh5co-blog animate-box">
                            <div class="meta-date text-center">
                            </div>
                            <div class="desc desc2">
                                <h3><a href="" #>Birinci Seviye Program</a></h3>
                                <span class="posted_by">Posted by: Admin</span>
                                <span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
                                <p>@item.training_NAME</p>
                                <a href="../Program/DahaFazla?id=@item.training_ID" class="btn btn-default">Daha fazla</a>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

