
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fh5co-hero">
    <!-- end:fh5co-header -->
    <div class="fh5co-parallax" style="background-image: url(../../Content/images/mesaj.png);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                    <div class="fh5co-intro fh5co-table-cell animate-box">
                        <h1 class="text-center">İstek Şikayet</h1>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end: fh5co-parallax -->
    <!-- end:fh5co-hero -->
    <div id="fh5co-contact">
        <div class="container">
            <form action="#">
                <div class="row">
                    <div class="col-md-6 animate-box">
                        <h3 class="section-title">Bize Ulaşın</h3>
                        <p>Herhangi bir sorunuz , istek ve şikayetleriniz aynı zamanda uzaktan antreman ve  beslenme takibi için bize ulaşın</p>
                        <ul class="contact-info">
                            <li><i class="icon-location-pin"></i>Isparta/merkez Süleyman demirel üniversitesi</li>
                            <li><i class="icon-phone2"></i>533 950 49 60</li>
                            <li><i class="icon-mail"></i><a href="#">profitoffical@gmail.com</a></li>
                            <li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 animate-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="İsim">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Mesaj"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Mesajını gönder" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

