<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
          />
    <meta name="description"
           />
    <meta name="robots" content="noindex,nofollow" />
    <title>Admin Paneli</title>
    <!-- Favicon icon -->
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="../Content/images/icon.png" />
   
    <link href="../AdminContent/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
   
    <link href="../AdminContent/dist/css/style.min.css" rel="stylesheet" />
   
</head>

<body>
    
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    
    <div id="main-wrapper"
         data-layout="vertical"
         data-navbarbg="skin5"
         data-sidebartype="full"
         data-sidebar-position="absolute"
         data-header-position="absolute"
         data-boxed-layout="full">
       
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                  
                    <a class="navbar-brand" href="index.html">
                       
                        <span class="logo-text ms-2">
                            <!-- dark Logo text -->
                            <img src="~/Content/images/logo.png" style="width: 150px; height:75px;" 
                                 alt="homepage"
                                 class="light-logo" />
                        </span>
                        
                    </a>
                   
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none"
                       href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                </div>

                <div class="navbar-collapse collapse"
                     id="navbarSupportedContent"
                     data-navbarbg="skin5">
                   
                    <ul class="navbar-nav float-start me-auto">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light"
                               href="javascript:void(0)"
                               data-sidebartype="mini-sidebar">
                                <i class="mdi mdi-menu font-24"></i>
                            </a>
                        </li>
                       
                        <li class="nav-item search-box">
                            <a class="nav-link waves-effect waves-dark"
                               href="javascript:void(0)">
                                <i class="mdi mdi-magnify fs-4"></i>
                            </a>
                            <form class="app-search position-absolute">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search &amp; enter" />
                                <a class="srh-btn"><i class="mdi mdi-window-close"></i></a>
                            </form>
                        </li>
                    </ul>
                   
                    <ul class="navbar-nav float-end">
                      
                        <li class="nav-item dropdown">
                            <a class="
                    nav-link
                    dropdown-toggle
                    text-muted
                    waves-effect waves-dark
                    pro-pic
                  "
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="../AdminContent/assets/images/users/1.jpg"
                                     alt="user"
                                     class="rounded-circle"
                                     width="31" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated"
                                aria-labelledby="navbarDropdown">
                                
                                <div class="dropdown-divider"></div>
                             
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off me-1 ms-1"></i> Logout</a>
                                <div class="dropdown-divider"></div>
                                <div class="ps-4 p-10">
                                    <a href="javascript:void(0)"
                                       class="btn btn-sm btn-success btn-rounded text-white">View Profile</a>
                                </div>
                            </ul>
                        </li>
                      
                    </ul>
                </div>
            </nav>
        </header>
       
        <aside class="left-sidebar" data-sidebarbg="skin5">
            
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="pt-4">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="../AdminHome/Index"
                               aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Anasayfa</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="../AdminProgram/Index"
                               aria-expanded="false">
                                <i class="mdi mdi-pencil"></i><span class="hide-menu">Program İşlemleri</span>
                            </a>
                         
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="../AdminDiyet/Index"
                               aria-expanded="false">
                                <i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Diyet İşlemleri</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="../AdminYemek/Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-inside"></i><span class="hide-menu">Yemek İşlemleri</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="../AdminQuiz/Index"
                               aria-expanded="false">
                                <i class="mdi mdi-blur-linear"></i><span class="hide-menu">Quiz İşlemleri</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="../AdminSiteAyarlari/Index"
                               aria-expanded="false">
                                <i class="mdi mdi-receipt"></i><span class="hide-menu">Site Ayarları </span>
                            </a>
                        </li>
                    </ul>
                </nav>
               
            </div>
            
        </aside>
       
        <div class="page-wrapper">
           
           
         
            <div class="container-fluid">
       
                @RenderBody()
            </div>
               
            </div>
       
           
          
        </div>
    </div>
    <script src="../AdminContent/assets/libs/jquery/dist/jquery.min.js"></script>
  
    <script src="../AdminContent/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../AdminContent/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../AdminContent/assets/extra-libs/sparkline/sparkline.js"></script>
   
    <script src="../AdminContent/dist/js/waves.js"></script>
   
    <script src="../AdminContent/dist/js/sidebarmenu.js"></script>
    
    <script src="../AdminContent/dist/js/custom.min.js"></script>
   
    <script src="../AdminContent/assets/libs/flot/excanvas.js"></script>
    <script src="../AdminContent/assets/libs/flot/jquery.flot.js"></script>
    <script src="../AdminContent/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="../AdminContent/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="../AdminContent/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="../AdminContent/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="../AdminContent/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="../AdminContent/dist/js/pages/chart/chart-page-init.js"></script>

</body>
</html>

